@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Public+Sans&display=swap");

/* BEGIN GENERAL STYLING */
::selection {
  background: #ffb7b7;
}

body {
  background-color: #f6eee1;
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

b {
  font-style: normal;
  border-radius: 0 0 1em 0;
  background-image: linear-gradient(
    -75deg,
    rgba(255, 250, 150, 0.15),
    rgba(255, 244, 120, 1) 100%,
    rgba(255, 250, 150, 0.25)
  );
}

p {
  color: black;
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 200%;
  margin: 25px 5%;
  text-align: left;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 4.5rem;
  letter-spacing: 2px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
}

h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
}
/* END GENERAL STYLING */

/* BEGIN BUTTON */
.btn {
  background: #ff3d6f;
  border: 2px solid black;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.2);
  color: white;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.25;
  margin-bottom: 25px;
  padding: 16px 38px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.btn:hover {
  background-color: #e4006e;
  color: white;
  transition: 0.5s;
}

.btn-second {
  background: white;
  border: 2px solid black;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.2);
  color: black;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.25;
  margin-bottom: 25px;
  padding: 16px 38px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.btn-second:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}
/* END BUTTON */

/* BEGIN GENERAL HEADER */
.header {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header .logo {
  display: block;
  float: left;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5em;
  padding: 20px;
  text-decoration: none;
}

.header ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.header li a {
  display: block;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  padding: 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #fff478;
  transition: 0.8s;
}
/* END GENERAL HEADER */

/* BEGIN RESPONSIVE HAMBURGER MENU */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.menu-icon {
  margin: 35px 50px;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 25px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* RESPONSIVE CLICKABLE MENU */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* NOTE: 48em = 768px */

@media (min-width: 48em) {
  .header {
    background-color: #ffffff;
  }
  .header ul {
    background-color: #ffffff;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/* END RESPONSIVE HAMBURGER MENU */
/* RESPONSIVE CLICKABLE MENU */
/* END HEADER */

/*BEGIN SECTION DISPLAY*/
.section-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/*END SECTION DISPLAY*/

/*BEGIN HERO SECTION*/
.wrap,
.section-content {
  font-family: "DM Sans", sans-serif;
  height: 700px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.hero-content {
  background-image: url("https://cutewallpaper.org/23/aesthetic-minimalist-plants-desktop-wallpaper/20155694.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*END HERO SLIDES*/

/*BEGIN ABOUT SECTION*/
.about h1 {
  color: #ff037b;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.about a {
  color: #ff037b;
  font-weight: bold;
  transition: 0.5s;
}

.about a:hover {
  background-color: #fff478;
  color: #ff037b;
  transition: 0.8s;
}
/*END ABOUT SECTION*/

/*BEGIN PROJECT SECTION*/
.project h1 {
  color: #ff3d6f;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 50px;
  margin-top: 100px;
  text-align: center;
}

.project p {
  font-size: 1.1rem;
  color: black;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 1px;
  line-height: 200%;
  margin: 25px 10%;
}
/*END PROJECT SECTION*/

/*BEGIN CARD SECTION*/
.project ul {
  font-size: 1.1rem;
  text-align: center;
  padding-left: 0px;
}

.project li {
  font-size: 1.1rem;
  color: black;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 1px;
  margin: 10px;
  display: inline;
}

.box-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-dev {
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  border-width: 3px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
  margin: 25px;
  padding: 10px;
  position: relative;
  transition: 0.3s;
  text-align: center;
}

.card-dev:nth-child(1) .img-area {
  background-image: url("img/dev-linkedingen.jpg");
  background-position: center;
}

.card-dev:nth-child(2) .img-area {
  background-image: url("img/dev-portfolio.jpg");
  background-position: center;
}

.card-dev:nth-child(3) .img-area {
  background-image: url("img/dev-landingpage.jpg");
  background-position: center;
}

.card-ux {
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  border-width: 3px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
  margin: 25px;
  padding: 10px;
  position: relative;
  transition: 0.3s;
  text-align: center;
}

.card-ux:nth-child(1) .img-area {
  background-image: url("img/ux-mesh.png");
  background-position: center;
}

.card-ux:nth-child(2) .img-area {
  background-image: url("img/ux-dfg.png");
  background-position: center;
}

.card-ux:nth-child(3) .img-area {
  background-image: url("img/ux- parkingkitty.png");
  background-position: center;
}

.img-area {
  align-items: center;
  background-size: cover;
  background-position: center center/cover;
  border: 3px solid black;
  display: flex;
  height: 400px;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0px;
  width: 400px;
}

.card-header {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 48px;
  font-family: "DM Sans", sans-serif;
  padding-top: 25px;
}

.card-text p {
  color: black;
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  line-height: 200%;
  margin: 5%;
  text-align: left;
}

/*BEGIN CONTACT*/
.contact-content {
  background-size: cover;
  background-image: url("https://cutewallpaper.org/23/aesthetic-minimalist-plants-desktop-wallpaper/20155694.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
/*END CONTACT*/

/*BEGIN FOOTER*/
footer {
  background: black;
  padding: 100px;
}

footer a {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer a:hover {
  background-color: #fff478;
  color: #000000;
  transition: 0.8s;
}

footer p {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer ul {
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding: 10px;
}
/*END FOOTER*/
